/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #c23434;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(196, 67, 67, 0.1);
}

h1 {
    text-align: center;
    color: #720a0a;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ae1b1b;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #c23434;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c70d0d;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: #704c4c;
}

.edit, .delete {
    padding: 4px 8px;
    margin-left: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit:hover, .delete:hover {
    background-color: #e5e5e5;
}
